$dark-gb-color: #050505
$dark-text-color: #bbb
$dark-a-color: #f0f0f0
$dark-header-color: #fafafa
$dark-scroll-bar-color: #fff
$dark-scroll-bar-hover-color: #fff
$dark-code-bg-color: #262626

$light-gb-color: #fff
$light-text-color: #555
$light-a-color: #101010
$light-header-color: #000
$light-scroll-bar-color: #fff
$light-scroll-bar-hover-color: #fff
$light-code-bg-color: #f5f5f5

$div-content-width: 70ch
$code-fg-color: #ec4899

main
  &>div
    // center body text
    max-width: $div-content-width
    margin: auto
    // unocss directives
    --at-apply: "lt-md:mx-8"
  hr
    // change line
    width: 50px
    margin: 2em auto
  .post-md-content
    // for the post.vue and generated markdown wrapper
    margin-left: 0
    margin-right: 0

html.dark
  background: $dark-gb-color
  color: $dark-text-color
  a
    &:visited
      color: $dark-a-color
    &:link
      color: $dark-a-color
  h1,h2,h3,h4,h5,h6
    color: $dark-header-color
  code:not([class^="language-"])
    background-color: $dark-code-bg-color

html
  background: $light-gb-color
  color: $light-text-color
  font-weight: 400
  a
    text-decoration: none
    transition: border 0.3s ease-in-out
    border-bottom: 1px solid rgba(125, 125, 125, 0.3)
    &:hover
      border-bottom: 1px solid rgba(125, 125, 125, 0.9)
    &:visited
      color: $light-a-color
    &:link
      color: $light-a-color
  h1,h2,h3,h4,h5,h6
    color: $light-header-color
  font-family: Inter, sans-serif
  code:not([class^="language-"])
    color: $code-fg-color
    font-weight: 600
    font-size: .875em
    background-color: $light-code-bg-color
    padding: 2px 4px
    border-radius: .25rem
  div.shiki-container code
    background-color: inherit !important

.nav-icon
  scale: 1.1

#nprogress
  pointer-events: none

#nprogress .bar
  background: #248ede
  opacity: 0.7
  position: fixed
  z-index: 1031
  top: 0
  left: 0
  width: 100%
  height: 2px
