@use 'variables' as v
@import markdown-it-github-alerts/styles/github-colors-light.css
@import markdown-it-github-alerts/styles/github-colors-dark-class.css
@import markdown-it-github-alerts/styles/github-base.css

html
  p.katex-block
    overflow-x: scroll
    padding: 0 1em

  p img
    width: 100%


  div.code-container
    position: relative
    border-radius: 12px
    transition: background-color 0.5s

    --shiki-float-hover-visible: 0
    --shiki-float-hover-hidden: 1
    --shiki-float-hover-visible-display: 0
    --shiki-float-hover-hidden-display: unset

    &:hover
      --shiki-float-hover-visible: 1
      --shiki-float-hover-hidden: 0
      --shiki-float-hover-visible-display: unset
      --shiki-float-hover-hidden-display: 0

    [class*="shiki-extra-f"]
      position: absolute

    .shiki-extra-container
      @apply: flex flex-row align-center gap-2 z-20
      --shiki-extra-container-transparency: 0.8

    --float-margin: 8px

    .shiki-extra-f-top
      top: var(--float-margin)

    .shiki-extra-f-right
      right: var(--float-margin)

    .shiki-extra-f-bottom
      bottom: var(--float-margin)

    .shiki-extra-f-left
      left: var(--float-margin)

    .shiki-extra-before:not(:empty), .shiki-extra-after:not(:empty)
      padding: 0.5em 1em 0 1em

    .shiki-extra-before:not(:empty)
      border-top-left-radius: 12px
      border-top-right-radius: 12px

    .shiki-extra-after:not(:empty)
      border-bottom-left-radius: 12px
      border-bottom-right-radius: 12px

    .shiki-float-hover-visible
      opacity: var(--shiki-float-hover-visible)
      height: var(--shiki-float-hover-visible-display)
      transition: opacity 0.3s

    .shiki-float-hover-hidden
      opacity: var(--shiki-float-hover-hidden)
      height: var(--shiki-float-hover-hidden-display)
      transition: opacity 0.3s

    .code-container-wrapper
      overflow-x: auto

    pre.shiki
      padding: 0.75em 0 0.75em 0
      margin: 0 1.2em
      line-height: 1.25em
      -webkit-text-size-adjust: none

      border-bottom-left-radius: 12px
      border-bottom-right-radius: 12px

      &.has-focused .line:not(.focused)
        filter: blur(.095rem)
        transition: filter 0.5s

      &.has-focused:hover .line:not(.focused)
        filter: blur(0)

      code, code[v-pre]
        display: block
        width: fit-content
        min-width: 100%
        transition: color 0.5s
        font-family: "JetBrains Mono", monospace
        font-weight: normal
        // line number https://github.com/shikijs/shiki/issues/3#issuecomment-830564854
        counter-reset: step
        counter-increment: step calc(var(--start, 1) - 1)

        .highlighted
          background: v.$code-highlight-color
          margin: 0 -1.2em
          padding: 0 1.2em
          width: 100%

        & .line
          display: inline-block

          div.v-popper
            display: inline-block

        & .line::before
          content: counter(step)
          counter-increment: step
          width: 1em
          display: inline-block
          text-align: right
          color: rgba(115, 138, 148, .4)
          margin-right: 1.2em

  mark
    background: linear-gradient(to right, rgba(255, 225, 0, .1), rgba(255, 225, 0, .8) 4%, rgba(255, 225, 0, .3)) 0 0
    margin: 0 -0.4em
    padding: 0 0.4em
    border-radius: .8em .3em
    box-decoration-break: clone

  .table-of-contents
    & > ul
      margin: 0
    margin: 1em 0

  .katex-error
    color: v.$katex-error-color

html:not(.dark)
  pre.shiki
    background-color: var(--shiki-light-bg)

  .code-container
    background-color: var(--shiki-light-bg)

  .shiki, .shiki span
    color: var(--shiki-light, inherit)

  .shiki-extra-container
    background-color: rgba(var(--shiki-light-bg), var(--shiki-extra-container-transparency))

  .shiki-extra-before:not(:empty), .shiki-extra-after:not(:empty)
    background-color: var(--shiki-light-bg)

html.dark
  pre.shiki
    background-color: var(--shiki-dark-bg)

  .code-container
    background-color: var(--shiki-dark-bg)

  .shiki, .shiki span
    color: var(--shiki-dark, inherit)

  .shiki-extra-container
    background-color: rgba(var(--shiki-dark-bg), var(--shiki-extra-container-transparency))

  .shiki-extra-before:not(:empty), .shiki-extra-after:not(:empty)
    background-color: var(--shiki-dark-bg)
