@use 'variables' as v

html
  div.shiki-container
    overflow-x: scroll
    width: 100%
  pre.shiki
    border-radius: 1rem
    padding: 1.2rem 1rem
    margin: 0
    .highlighted
      background: v.$code-highlight-color
      display: block
      margin: 0 -1rem
      padding: 0 1rem
    code[v-pre]
      display: flex
      flex-direction: column
      font-family: "JetBrains Mono", monospace
      font-weight: normal
  mark
    background: linear-gradient(to right, rgba(255, 225, 0, .1), rgba(255, 225, 0, .8) 4%, rgba(255, 225, 0, .3)) 0 0
    margin: 0 -0.4em
    padding: 0 0.4em
    border-radius: .8em .3em
    box-decoration-break: clone
  .table-of-contents
    &>ul
      margin: 0
    margin-bottom: 2em

html:not(.dark)
  .shiki-dark
    display: none

html.dark
  .shiki-light
    display: none


